.form {
    max-width: 36rem;
    margin: 0 auto;
    padding: 0 2.8rem;

    &-control {
        font-family: inherit;
        font-size: 1.4rem;
        padding: 0 1.6rem;
        height: 40px;
        border-radius: 3px;
    }

    &-control:focus {
        box-shadow: none;
        border-color: var(--color-gray-12);
        color: var(--color-gray-12);
    }

    &-text {
        color: var(--color-danger);
        font-size: 1.2rem;
    }
}